/*************************************************
GENERAL
**************************************************/
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

#wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 5%;
}

header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Sarala',sans-serif;
    margin: 15px 0;
    font-size: 1.75em;
}

h2 {
    font-size: 0.75em;
    /*1st value is fr top. 2nd is for left and right. 3rd value is for the bottom value*/
    margin: -5px 0 0;
    font-weight: normal;
}


/*************************************************
NAVIGATION
**************************************************/
nav  {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: center;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/*************************************************
FOOTER
**************************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: black;
    clear: both; 
}

.social-media-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*************************************************
ABOUT ME PAGE
**************************************************/
.profile-photo {
  display: block;
  max-width: 0 auto 30px;
  border-radius: 15%;
}


/*************************************************
CONTACT PAGE
**************************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}



/*************************************************
COLORS
**************************************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgrey;
    color: #bdc3c7;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #bd3c37;
}

body {
    background-color: black;
    color: #999;
}

a {
    
    color: gold;
}

header {
    background: black;
}

h1,h2 {
    color: gold;
}

nav {
    background: gold;
}

/*Pseudo Class */
nav a, nav a:visited{
    color: #fff;
}

nav a.selected, nav a:hover {
    color: #32673f;
}

/************************************************
MEDIA Queries
*************************************************/